<div id="productDetail" class="container">
	<div class="row product-info">
		
		<div class="col-md-6 picturs">
			<img src="{{$stateParams.product.imageUrl}}" alt="{{$stateParams.product.name}}">
		</div>
		
		<div class="col-md-6">
			<div id="detail">
				<h1>{{$stateParams.product.name}}</h1>
				<div class="price">
					<h4>{{$stateParams.product.oldPrice | currency}}</h4>
					<h1>{{$stateParams.product.price | currency}}</h1>
				</div>
			    <uib-rating ng-model="rate" ng-init="rate = $stateParams.product.rate" max="5" readonly="isReadonly" on-hover="" on-leave="" aria-labelledby="default-rating"></uib-rating>
				<br />
				<form class="form-inline">
					<label>Qty
						<select class="form-control" ng-model="no_" ng-options="i for i in [1,2,3,4,5,6,7,8,9,10]">
							<option></option>
						</select>
					</label>
				</form><br />
				<button class="btn btn-primary">Add to Card</button>
				<div class="align-left">
					<h4>Category: <span>{{"     "+$stateParams.product.category}}</span></h4>
					<h4>Postage: <span>AUD {{$stateParams.product.postage | currency}} Economy delivery from outside AU</span></h4>
					<h4>Delivery Time: <span>{{"   "+$stateParams.product.deliveryTime}}</span></h4>
					<h4>Total Price: <span>{{$stateParams.product.price + $stateParams.product.postage | currency}}</span></h4>
				</div>
			</div>
		</div>
		
		<div id="tab" class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="info">
					<uib-tabset justified="true">
						<uib-tab>
							<uib-tab-heading>
								<p>DESCRIPTION</p>
							</uib-tab-heading>
							<p class="p">{{$stateParams.product.desc}}</p>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<p>SPECIFICS</p>
							</uib-tab-heading>
							<p class="p">{{$stateParams.product.spec}}</p>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<p>DELIVERY</p>
							</uib-tab-heading>
							<p class="p">{{$stateParams.product.delivery}}</p>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
