<div id="productDetail" ng-controller="productDetailController as productDetailCtrl">
	<div class="body container">
		<div class="row product-info">
			<div class="col-md-6 pictures">
				<img class="img-rounded img-thumbnail" src="{{productDetailCtrl.mainImage | retriveFromCache}}" alt="{{productDetailCtrl.product.name}}">

				<div class="row">
					
					<div class="col-md-10 col-md-offset-1">
						<div class="productDetailSlider">
							<uib-carousel interval="productDetailCtrl.setInterval" no-wrap="productDetailCtrl.noWrapSlides">
								<uib-slide ng-repeat="imageGroup in productDetailCtrl.arrayOfImageGroup" active="slide.active">
									<div>
										<a ng-repeat="image in imageGroup" ng-click="productDetailCtrl.changeImage(image);" href=""><img class="img-thumbnail" ng-src="{{image | retriveFromCache}}"></a>
									</div>
								</uib-slide>
							</uib-carousel>
						</div>
					</div>
				</div>

			</div>
			
			<div class="col-md-5 col-md-offset-1 detail">
				<h1>{{productDetailCtrl.product.name}}</h1>
				<h1><small><del ng-hide="productDetailCtrl.product.oldPrice == 0">{{productDetailCtrl.product.oldPrice | currency}}</del></small> {{productDetailCtrl.product.price | currency}}</h1>
			    <uib-rating ng-model="productDetailCtrl.rate" max="5" readonly="productDetailCtrl.isReadonly" on-hover="" on-leave="" aria-labelledby="default-rating"></uib-rating>
				<br />
				<form class="form-inline">
					<label>Qty
						<select class="form-control" ng-model="productDetailCtrl.qty" ng-options="i for i in productDetailCtrl.listOfDefaultQtys">
							<option></option>
						</select>
					</label>
				</form><br />
				<button class="btn btn-primary" ng-click="">Add to Cart</button>
				<div class="align-left">
					<h4>Category: <small>{{productDetailCtrl.product.category}}</small></h4>
					<h4>Postage: <small>AUD {{productDetailCtrl.product.postage | currency}} Economy delivery from outside AU</small></h4>
					<h4>Delivery Time: <small>{{productDetailCtrl.product.deliveryTime}}</small></h4>
					<h4>Total Price: <small>{{productDetailCtrl.product.price + productDetailCtrl.product.postage | currency}}</small></h4>
				</div>
			</div>
		</div>	
		
		<div class="row tab">
			<div class="col-md-10 col-md-offset-1">
				<div class="info">
					<uib-tabset justified="true">
						<uib-tab>
							<uib-tab-heading>
								<p>DESCRIPTION</p>
							</uib-tab-heading>
							<p class="p">{{productDetailCtrl.product.desc}}</p>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<p>SPECIFICS</p>
							</uib-tab-heading>
							<p class="p">{{productDetailCtrl.product.spec}}</p>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<p>DELIVERY</p>
							</uib-tab-heading>
							<p class="p">{{productDetailCtrl.product.delivery}}</p>
						</uib-tab>
						<uib-tab>
							<uib-tab-heading>
								<p>REVIEW</p>
							</uib-tab-heading>
							<div class="row">
								<div class="col-md-6">
									<h2>Reviews</h2>
									<blockquote ng-repeat="review in productDetailCtrl.reviews">
										<uib-rating ng-model="review.rate" max="5" readonly="true" on-hover="" on-leave="" aria-labelledby="default-rating"></uib-rating>
										<p>{{review.body}}</p>
										<footer ng-show="(review.author.fullName != null) || (review.author.email != null)">
											By:
											<cite><strong>{{review.author.fullName}} </strong></cite>
											<cite> {{review.author.email}}</cite>
										</footer>
									</blockquote>
								</div>
								<div class="col-md-5 col-md-offset-1">
									<form name="reviewForm" ng-submit="reviewForm.$valid && productDetailCtrl.addReview(productDetailCtrl.reviews)" novalidate>
										<div class="form-group">
											<uib-rating name="rate" ng-model="productDetailCtrl.review.rate" max="5" readonly="false" aria-labelledby="default-rating" required></uib-rating>
										</div>
										<div class="form-group">
											<textarea name="desc" class="form-control" ng-model="productDetailCtrl.review.body" rows="5" required></textarea>
										</div>
										<div class="form-group">
											<label>By:</label>
											<input type="text" class="form-control" placeholder="Full Name..." ng-model="productDetailCtrl.review.author.fullName">
											<input name="email" type="email" class="form-control" placeholder="email..." ng-model="productDetailCtrl.review.author.email" uib-popover="{{reviewForm.email.$error.email?'Invalid Email!':''}}" popover-trigger="mouseenter" popover-placement="right" >
										</div>
										<button type="submit" class="btn btn-primary" uib-popover="{{reviewForm.rate.$valid ? (reviewForm.desc.$valid ? '':'Enter your idea!'):'Rating is required!'}}" popover-trigger="mouseenter" popover-placement="right" >Submit</button>
									</form>
								</div>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
