#productDetail{
	.body{
		padding-top: 15%;

		.product-info{
			.pictures{
				>img{
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 20px;
					height: auto;
					width: 300px;
					z-index: 1;
				}

				.productDetailSlider{
					.carousel{
						.carousel-inner{
							margin: 5px 5px 3px 5px;
							padding-bottom: 20px;
							//align-items: center;
							//justify-content: center;
							
							img{
								margin: 5px;
								height: 80px;
								width: 80px;
							}
						}

						a.carousel-control{
							height: 15px;
							width: 15px;
							background: none repeat scroll 0 0;
							//border: 15px solid #000 !important;
							//border-radius: 20px;
							margin-top: 37px;
							//overflow: hidden;
							color: #000 !important;
						}

						.carousel-indicators{
							right: 50%;
							top: auto;
							bottom: -5px;
							//margin-right: -19px;

							li{
								background: #cecece;
							}

							.active{
								background: #428bca;
							}
						}
					}
				}	
			}

			.detail{
				width: auto;
				margin: 5px;
				background-color: #FFF6BC;
				padding: 5px;
				text-align: center;
				box-shadow: 5px 5px 5px #7F7F7F;
				opacity: .8;
				h1{
					color: red;
				}

				.fieldset{
					text-align: left !important;
				}

				.align-left{
					margin-left: 5%;
					text-align: left;
					h4>span{
						font-size: 10pt;
					}
				}
			}
		}

		.tab{
			.info{
				margin-top: 50px;
				margin-bottom: 50px;

				.tab-content{
					border-bottom: 4px solid #FB6C20;
				}

				.p{
					padding: 10px;
				}

				.nav .uib-tab uib-tab-heading{
					font-size: 110%;
					color: #FB6C20;
					i {
						font-size: 170%;
					}
				}

				.nav .uib-tab.active{
					border-bottom: 4px solid #FB6C20 !important;
				}

				.nav .uib-tab:hover{
					border-bottom: 4px solid FB6C20;
				}

				form{
					margin-top: 15px;
					margin-bottom: 15px;

					.ng-invalid.ng-dirty{
						border-color: #FA787E;
					}
					.ng-valid.ng-dirty{
						border-color: #78FA89;
					}
				}
			}
		}
	}
}
