<div id="productDetail" class="container" ng-controller="productDetailController as productDetailCtrl">
	<div class="row product-info">
		<div class="col-md-6 pictures">
			<img src="{{productDetailCtrl.product.imageUrl}}" alt="{{productDetailCtrl.product.name}}">

			<div class="row">
				
				<div class="col-md-10 col-md-offset-1">
					<div class="productDetailSlider">
						<uib-carousel interval="productDetailCtrl.setInterval" no-wrap="productDetailCtrl.noWrapSlides">
							<uib-slide ng-repeat="imageGroup in productDetailCtrl.arrayOfImageGroup" active="slide.active">
								<div>
									<a ng-repeat="image in imageGroup" href=""><img ng-src="{{image}}"></a>
								</div>
							</uib-slide>
						</uib-carousel>
					</div>
				</div>
			</div>

		</div>
		
		<div class="col-md-5 col-md-offset-1 detail">
			<h1>{{productDetailCtrl.product.name}}</h1>
			<h1><small><del>{{productDetailCtrl.product.oldPrice | currency}}</del></small> {{productDetailCtrl.product.price | currency}}</h1>
		    <uib-rating ng-model="productDetailCtrl.rate" max="5" readonly="productDetailCtrl.isReadonly" on-hover="" on-leave="" aria-labelledby="default-rating"></uib-rating>
			<br />
			<form class="form-inline">
				<label>Qty
					<select class="form-control" ng-model="no_" ng-options="i for i in productDetailCtrl.listOfDefaultQtys">
						<option></option>
					</select>
				</label>
			</form><br />
			<button class="btn btn-primary">Add to Cart</button>
			<div class="align-left">
				<h4>Category: <small>{{productDetailCtrl.product.category}}</small></h4>
				<h4>Postage: <small>AUD {{productDetailCtrl.product.postage | currency}} Economy delivery from outside AU</small></h4>
				<h4>Delivery Time: <small>{{productDetailCtrl.product.deliveryTime}}</small></h4>
				<h4>Total Price: <small>{{productDetailCtrl.product.price + productDetailCtrl.product.postage | currency}}</small></h4>
			</div>
		</div>
	</div>	
	
	<div class="row tab">
		<div class="col-md-10 col-md-offset-1">
			<div class="info">
				<uib-tabset justified="true">
					<uib-tab>
						<uib-tab-heading>
							<p>DESCRIPTION</p>
						</uib-tab-heading>
						<p class="p">{{productDetailCtrl.product.desc}}</p>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							<p>SPECIFICS</p>
						</uib-tab-heading>
						<p class="p">{{productDetailCtrl.product.spec}}</p>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							<p>DELIVERY</p>
						</uib-tab-heading>
						<p class="p">{{productDetailCtrl.product.delivery}}</p>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
	
</div>
