<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>Products</h4>
        <ul>
          <li><a ui-sref="home.products({type: 'cloth'})">Cloth</a></li>
          <li><a ui-sref="home.products({type: 'electronic'})">Electronic</a></li>
          <li><a ui-sref="home.products({type: 'baby'})">Baby</a></li>
          <li><a ui-sref="home.products({type: 'food'})">Food</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Sales</h4>
        <ul>
          <li><a ui-sref="home.sale({type: 'cloth'})">Cloth</a></li>
          <li><a ui-sref="home.sale({type: 'electronic'})">Electronic</a></li>
          <li><a ui-sref="home.sale({type: 'baby'})">Baby</a></li>
          <li><a ui-sref="home.sale({type: 'food'})">Food</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>About</h4>
        <ul>
          <li><a ui-sref="home.about">About Us</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Contact</h4>
        <ul>
          <li><a href="#">Email</a></li>
          <li><a href="#">Map</a></li>
        </ul>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <h4>Social Networks</h4>
        <ul class="social">
          <li><a class="btn btn-social-icon btn-twitter"><span class="fa fa-lg fa-twitter"></span></a></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
  
<div class="copyright">
  <p class="text-muted">© 2016 eComm All rights reserved.</p>
</div>