<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>Products</h4>
        <ul>
          <li><a ui-sref="main.products({category: 'cloth', special: 'all'})">Cloth</a></li>
          <li><a ui-sref="main.products({category: 'electronic', special: 'all'})">Electronic</a></li>
          <li><a ui-sref="main.products({category: 'baby', special: 'all'})">Baby</a></li>
          <li><a ui-sref="main.products({category: 'food', special: 'all'})">Food</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Sales</h4>
        <ul>
          <li><a ui-sref="main.sale({category: 'cloth', special: 'all'})">Cloth</a></li>
          <li><a ui-sref="main.sale({category: 'electronic', special: 'all'})">Electronic</a></li>
          <li><a ui-sref="main.sale({category: 'baby', special: 'all'})">Baby</a></li>
          <li><a ui-sref="main.sale({category: 'food', special: 'all'})">Food</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>About</h4>
        <ul>
          <li><a ui-sref="main.about">About Us</a></li>
          <li><a ui-sref="main.about">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Contact</h4>
        <ul>
          <li><a ui-sref="main.contact">Email</a></li>
          <li><a ui-sref="main.contact">Map</a></li>
        </ul>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <h4>Social Networks</h4>
        <ul class="socials">
          <li><a class="twitter"><img src=""></a></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->

<div class="copyright">
  <p class="text-muted">© 2016 eComm All rights reserved.</p>
</div>
