<div id="tiles" class="container">
  <div class="row">

    <div class="tile1 col-md-5">
      <p class="band">Cloth</p>
      <a ui-sref="main.products({category: 'cloth', special: 'all'})"><img src="assets/images/cloth-products.jpg" ></a>
    </div>

    <div class="col-md-6 col-md-offset-1">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="tile2 col-md-8">
          <div class="band"><p>Electronic</p></div>
          <a ui-sref="main.products({category: 'electronic', special: 'all'})"><img src="assets/images/e-products2.png" ></a>
        </div>
      </div>
      <div class="tile1_2 row">
        <div class="tile3 col-md-5">
          <div class="band"><p>Baby</p></div>
          <a ui-sref="main.products({category: 'baby', special: 'all'})"><img src="assets/images/baby-products.jpg" ></a>
        </div>
        <div class="col-md-2"></div>
        <div class="tile4 col-md-5">
          <div class="band"><p>Food</p></div>
          <a ui-sref="main.products({category: 'food', special: 'all'})"><img src="assets/images/food-products.jpg" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

