<div ui-view>
	<div id="productBlock">
		<a ui-sref="main.detail({special: productBlockCtrl.special, productId: productBlockCtrl.item.id})">
			<h3>{{productBlockCtrl.item.name}}</h3>
			<img src="{{productBlockCtrl.item.imageUrl}}" alt="{{productBlockCtrl.item.name}}"><br>
			<h3>{{productBlockCtrl.item.price | currency}}</h3>
			<button class="btn btn-default" ng-click="" >Buy Me!</button>
			<button class="btn btn-default" ng-click=""><img src="assets/images/add-to-card-icon.png"></button>
		</a>
	</div>
</div>
