#mainProductSlider{
  padding-top: 50px;

}

#mainProductSlider .tab-content{
  border-bottom: 4px solid #FB6C20;

}

#mainProductSlider .nav .uib-tab uib-tab-heading{
  font-size: 110%;
  color: #FB6C20;
  i {
    font-size: 170%;
  }
}

#mainProductSlider .nav .uib-tab.active{
  border-bottom: 4px solid #FB6C20 !important;
}

#mainProductSlider .nav .uib-tab:hover{
  border-bottom: 4px solid FB6C20;
}




.tabbable-panel {
  border-bottom: 4px solid #fbcdcf;
  padding: 10px;
  text-align: center;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: black;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}


#tiles .tile1,
#tiles .tile2,
#tiles .tile3,
#tiles .tile4 {
  margin: 2%;
  padding: 5%;
  background-color: #fff;
  /*border: 2px solid red;*/
}

#tiles .band {
  position: absolute;
  bottom: 8%;
  height: 10%;
  width: 85%;
  background-color: fadeout(#FB6C20, 20%); //rgba(251,108,32,.8);
  text-align: center;
  font-size: 20px;
  color: #fff;
}

#tiles .tile1 {
  height: 600px;
  width: 100%;
}

#tiles img {
  height: 100%;
  width: 100%;
}
#tiles .tile2 {
  height: 270px;
  width: 100%;
}

#tiles .tile3 {
  height: 270px;
  width: 100%;
}

#tiles .tile4 {
  height: 270px;
  width: 100%;
}
