<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/eComm_logo2.png"></a>
    </div>
   
    <ul class="nav navbar-nav">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#products">Products</a></li>
      <li><a href="#sale">Sale</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </div>
</div><!-- /.menu -->
 


<div ng-app='mainCarousel'>
  <div ng-controller="mainCarouselController as carouselCtrl" id="slides_control">
    <carousel interval="carouselCtrl.myInterval">
      <slide ng-repeat="slide in carouselCtrl.slides" active="slide.active">
        <img ng-src="{{slide.image}}">
        <div class="carousel-caption">
          <h2>{{slide.caption}}</h2>
        </div>
      </slide>
    </carousel>
  </div>
</div>  

<div class="search">
  <div class="row">    
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept">Categories</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#cloths">Cloths</a></li>
            <li><a href="#electronics">Electronics</a></li>
            <li><a href="#babies">Babies</a></li>
            <li><a href="#foods">Foods</a></li>
            <li class="divider"></li>
            <li><a href="#all">Anything</a></li>
          </ul>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param">         
        <input type="text" class="form-control" name="x" placeholder="Search term...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
  </div>    
</div> <!-- /.search -->

<div class="container">
  <div class="row hot-offers">
    <div class="col-md-12">
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab"><span class="glyphicon glyphicon-fire"></span> Hot Offers</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab"><span class="glyphicon glyphicon-check"></span> New Products</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab"><span class="glyphicon glyphicon-arrow-up"></span> Top Picks</a>
            </li>
            <li>
              <a href="#tab_default_4" data-toggle="tab"><span class="glyphicon glyphicon-bullhorn"></span> Clearance</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <div class="row">
                <div class="col-md-12 offer">
                  <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#Carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1401.png" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1004.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1301.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                      <div class="item">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                    </div><!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                  </div><!-- /.Carousel-->
                </div>
              </div>
            </div> <!-- /#tab_default_1 -->
            
            <div class="tab-pane" id="tab_default_2">
              <div class="row">
                <div class="col-md-12 offer">
                  <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#Carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1401.png" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1004.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1301.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                      <div class="item">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                    </div><!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                  </div><!--.Carousel-->
                </div>
              </div>
            </div> <!-- /#tab_default_2 -->

            <div class="tab-pane" id="tab_default_3">
              <div class="row">
                <div class="col-md-12 offer">
                  <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#Carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1401.png" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1004.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1301.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                      <div class="item">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                    </div><!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                  </div><!--.Carousel-->
                </div>
              </div>
            </div> <!-- /#tab_default_3 -->

            <div class="tab-pane" id="tab_default_4">
              <div class="row">
                <div class="col-md-12 offer">
                  <div id="Carousel" class="carousel slide">

                    <ol class="carousel-indicators">
                      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#Carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1401.png" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1004.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1301.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                      <div class="item">
                        <div class="row">
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                          <div class="col-md-3"><a href="#" class="thumbnail"><img src="app/main/Products_imgs/1201.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                      </div><!--.item-->

                    </div><!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                  </div><!--.Carousel-->
                </div>
              </div>
            </div> <!-- /#tab_default_4 -->

          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.hot-offers -->

  <div class="row" id="tiles">
    <div class="col-md-6">
      <div class="tile1">
        <img src="assets/images/cloth-products.jpg" ><div class="band"><span>Cloth</span></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="tile2">
            <img src="assets/images/e-products1.png" ><div class="band"><span>Electronic</span></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile3">
            <img src="assets/images/baby-products.jpg" ><div class="band"><span>Baby</span></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile4">
            <img src="assets/images/food-products.jpg" ><div class="band"><span>Food</span></div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.tiles -->
</div> <!-- /.container -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>Products</h4>
        <ul>
          <li><a href="/#/products">Cloth</a></li>
          <li><a href="#">Electronic</a></li>
          <li><a href="#">Baby</a></li>
          <li><a href="#">Food</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Sales</h4>
        <ul>
          <li><a href="#">Cloth</a></li>
          <li><a href="#">Electronic</a></li>
          <li><a href="#">Baby</a></li>
          <li><a href="#">Food</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>About</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Contact</h4>
        <ul>
          <li><a href="#">Email</a></li>
          <li><a href="#">Map</a></li>
        </ul>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <h4>Social Networks</h4>
        <ul class="social">
          <li><a class="btn btn-social-icon btn-twitter"><span class="fa fa-lg fa-twitter"></span></a></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
  
<div class="copyright">
  <p class="text-muted">© 2016 eComm All rights reserved.</p>
</div>