<div id="productSlider" ng-controller="ProductSliderController as ProductSliderCtrl">

  <div id="Carousel" class="carousel slide">

    <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <div class="row">
          <div class="col-md-3" ng-repeat="product in ProductSliderCtrl.products | orderBy: name | limitTo: 4">

            <ec-product-block-directive item="product"></ec-product-block-directive>

          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <h1>
            Second Tab
          </h1>
        </div>
      </div>

    </div>
    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>

  </div>
</div>

